certifi>=2020.6.20
chardet>=3.0.4
docutils>=0.16
idna>=2.10
Kivy>=1.11.1
kivy-deps.glew>=0.3.0
kivy-deps.sdl2>=0.3.1
Kivy-Garden>=0.1.4
kivymd>=0.104.1
numpy>=1.19.2
Pillow>=8.1.1
Pygments>=2.7.1
PyOpenGL>=3.1.5
pypiwin32>=223
PyQt5>=5.15.1
PyQt5-sip>=12.8.1
pyqtgraph>=0.11.0
pywin32>=228
requests>=2.24.0
urllib3>=1.25.10
